@model assignment1.Models.LayoutModel<assignment1.Models.Auction.AuctionModel>;

@{
    ViewData["Title"] = "Auction Page";
}

<div>
    <div>

    </div>
    <div>
        <h2>@Model.Data.AuctionName</h2>
        <div>
            <p>Starting Price: $@Model.Data.StartPrice</p>
            <p>Buy Now: $@Model.Data.BuyNowPrice</p>
        </div>
        <div>
            <h3>Last Bid:</h3>
        </div>
    </div>
</div>