@model assignment1.Models.LayoutModel<assignment1.Models.Auction.AuctionModel>;


<div>
	<div>
			
	</div>
	<div>
		<h2>@Model.Data.Auction_name</h2>
		<div>
			<p>Starting Price: $@Model.Data.Start_price</p>
			<p>Buy Now: $@Model.Data.Buy_now_price</p>
		</div>
		<div>
			<h3>Last Bid:</h3>
		</div>
		<div>
			<form asp-controller="Auction" asp-action="PlaceBid" method="post">
				<div class="form-outline mb-4">
					<input type="text" asp-for="Bid_amount" id="bid_amount" class="form-control" />
					<label class="form-label" for="bid_amount">Bid Amount</label>
				</div>

				<button type="submit" class="btn btn-primary btn-block mb-4">Place Bid</button>
			</form>
		</div>

	</div>	
</div>