@model assignment1.Models.LayoutModel<assignment1.Models.Auction.AuctionModel>;


<div>
	<div>
			
	</div>
	<div>
		<h2>@Model.Data.Auction_name</h2>
		<div>
			<p>Starting Price: $@Model.Data.Start_price</p>
			<p>Buy Now: $@Model.Data.Buy_now_price</p>
		</div>
		<div>
			<h3>Last Bid:</h3>
		</div>
		<div>
			<embed src="/Auction/PlaceBid" style="width:500px; height: 300px;">
		</div>

	</div>	
</div>