<div
    style="display: grid; border-radius: 30px; flex-direction: column; flex-wrap: nowrap; align-items: center; padding: 1em; color: #000">

    <h2 style="text-align: center;">Hi {0}!</h2>
    <p style="text-align: center;"> Thank you for signing up for our auction site <br> Please click
        on the
        link below to verify your account!</p>

    <a href="{1}" target="_blank"
        style="text-decoration: none; background-color: #3B71CA; color: #fff; padding: .5em .9em; border-radius: 20px; font-weight: bold; width: fit-content; margin: auto;">Verify your email!</a>

    <p style="text-align:center">If you did not sign up for our service please disreguard this email.</p>
</div>