@model assignment1.Models.Generics.UserBase

@{
    ViewData["Title"] = "UserPage";
}
<div>
    <h3>@Model.Username</h3>
    <p>@Model.FirstName + @Model.LastName</p>
    <p>@Model.Email</p>
</div>
<div>
    <img src="" />
</div>