@model assignment1.Models.LayoutModel<assignment1.Models.Generics.UserBase>

@{
    ViewData["Title"] = "UserPage";
}
<div>
    <h3>@Model.Data.Username</h3>
    <p>@Model.Data.FirstName @Model.Data.LastName</p>
    <p>@Model.Data.Email</p>
</div>
<div>
    <img src="" />
</div>