@model assignment1.Models.LayoutModel<assignment1.Models.Home.SearchModel>;


@{
    ViewData["Title"] = "Search Results";
}

<div id="SearchBar">
    <table class="SearchBarTable">
        <tbody>
            <td>
                <form asp-action="Search" asp-route-id="search" method="get">
                    <input id="SearchBar-textfield" name="search" type="text" placeholder="Search" />
                </form>
            </td>
            <td>
                <div>
                    <select>
                        <option value="0">AllCategories</option>
                    </select>
                </div>
            </td>
        </tbody>
    </table>
</div>

<h2>Search results for: @Model.Data.SearchText</h2>

<div>
    <ul>
        @foreach (var item in @Model?.Data?.Search)
        {
            <li>
                @item.AuctionName
            </li>
        }
    </ul>
</div>