@{
    ViewData["Title"] = "Forgot Password";
}

@if (this.Context.Request.Method == "POST")
{
    <div class="card text-center m-auto">
        <div class="card-header h5">Password Reset</div>
        <div class="card-body px-5" action="POST">
            <p class="card-text spy-2">
                We have sent you an email in case you are register in our system.
            </p>
            <a asp-action="Login">Return to Login</a>
        </div>
    </div>
}
else if (this.Context.Request.Method == "GET")
{
    <div class="card text-center m-auto">
        <div class="card-header h5">Password Reset</div>
        <form class="card-body px-5" method="POST">
            <p class="card-text spy-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <input type="email" id="email" name="email" class="form-control my-3" />
                <label class="form-label" for="email">Email</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset password</button>
        </form>
    </div>
}