@model assignment1.Models.Auth.LoginModel;

@{
    ViewData["Title"] = "Login";
}

<br>
<h3 class="m-auto text-center">Login</h3>
<br>

<form asp-action="Login" method="post">
    <div class="form-control rounded p-3">
        @* Username *@
        <div class="form-outline mb-4">
            <input type="text" asp-for="Username" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
        </div>

        @* Password *@
        <div class="form-outline mb-4">
            <input type="password" asp-for="Password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
        </div>

        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                @* Checkbox *@
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="RememberMe" id="rememberme" checked />
                    <label class="form-check-label" for="rememberme"> Remember me </label>
                </div>
            </div>

            <div class="col">   
                <a asp-action="ForgotPassword">Forgot password?</a>
            </div>
        </div>

        @* Submit button *@
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        @* Register buttons *@
        <div class="text-center">
            <p>Not a member? <a asp-action="Register">Register</a></p>
            <p>or sign up with:</p>
            <a href="https://github.com/jamtycle" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://github.com/Matt-239" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://github.com/VirtAltoKohi" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://github.com/RyunKL" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</form>