@model assignment1.Models.LoginModel;

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" method="post">
    <!-- Username -->
    <div class="form-outline mb-4">
        <input type="text" asp-for="Username" id="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
    </div>

    <!-- Password -->
    <div class="form-outline mb-4">
        <input type="password" asp-for="Password" id="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" asp-for="RememberMe" id="rememberme" checked />
                <label class="form-check-label" for="rememberme"> Remember me </label>
            </div>
        </div>

        <div class="col">
            <a asp-action="ForgotPassword">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a asp-action="Register">Register</a></p>
        @* TODO: put every member github acc here c: *@
        <p>or sign up with:</p>
        <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
</form>