@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject ViewDataDictionary<assignment1.Models.Auth.ResetPasswordModel> ViewData

@model assignment1.Models.Auth.ResetPasswordModel;

@{
    ViewData["Title"] = "Reset Password";
}

<div class="card text-center m-auto w-100">
    <div class="card-header h5">Password Reset</div>
    <form class="card-body px-5" method="POST">
        <input type="hidden" name="key" id="key" asp-for="Key">
        <div class="form-outline">
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                @if (ViewData.ModelState["Password"].Errors.Any())
                {
                    <input asp-for="Password" type="password" id="ps" class="form-control my-3"
                        style='background-color: #ffcdd2;' />
                }
                else
                {
                    <input asp-for="Password" type="password" id="ps" class="form-control my-3" />
                }
            }   
            else
            {
                <input asp-for="Password" type="password" id="ps" class="form-control my-3" />
            }
            <label class="form-label" for="ps">New Password</label>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="form-outline">
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                @if (ViewData.ModelState["ConfirmPassword"].Errors.Any())
                {
                    <input asp-for="ConfirmPassword" type="password" id="cps" class="form-control my-3"
                    style='background-color: #ffcdd2;' />
                }
                else
                {
                    <input asp-for="ConfirmPassword" type="password" id="cps" class="form-control my-3" />
                }
            }
            else
            {
                <input asp-for="ConfirmPassword" type="password" id="cps" class="form-control my-3" />
            }
            <label class="form-label" for="cps">New Password (Confirmation)</label>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <button type="submit" class="btn btn-primary w-100 mt-3">Reset password</button>
    </form>
</div>