@{
    ViewData["Title"] = "Validate User";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Validation</h5>
        <p class="card-text">@ViewBag.Message</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return To Main</a>
    </div>
</div>